* {
    padding: 0;
    margin: 0;

}

.header {
    height:100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:2;
    border-bottom:1px solid rgb(232, 229, 229);
}

.icon {
    margin-left: 120px;
    /* margin-top: 55px; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 40px;
}
.search-bar{
    margin-right:20px;
    /* margin-top: 55px; */
    margin-left:50px;
    width:250px;   
    padding:7px;
    background-color:#CCCCCC;
    border:none;
    border-radius:8px;
    font-size: 15px;
}
.main{
    margin-top:70px;  
    display:flex;
}
.content{
    width:350px;
    margin-top:100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position:fixed;
    align-items: center;
    background-color:white;

}
.main-content{
    padding-left:110px;
    width:250px;

}
.content-heading{
    font-size:30px;
    font-weight: 700;
    cursor: pointer;
}
.topics{
    color:gray;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    font-size: 25px;
    transition:opacity 0.1s;
}

.topics span:hover{
    color:black;
    cursor:pointer;
}   
.topics span{
    margin-bottom:20px;
    margin-left:0;
}
.vertical-line {
    border-left: 1px solid black;
    height: 470px; 
   margin-right:10px;
  }
.main-content{
    margin-top: 30px;
    display:flex;
}
.writing-section{
    font-size:20px;
    
    margin-left:400px;
    margin-right:300px;
    margin-top:100px;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.ws-head{
    font-size:40px;
    font-weight:700;
    margin-bottom:30px;
    display:flex;
    justify-content: center;
}

.paragraph{
    font-size:25px;
}
.footer{
    margin-bottom:100px;
}
.hidden {
    display: none;
}